body {
	font-family: Inter, sans-serif;
	color: #1a1919;
	font-size: 16px;
	line-height: 30px;
}
h1 {
	font-family: "EB Garamond", serif;
	font-weight: 400;
	font-size: 50px;
	margin: 0;
	line-height: 60px;
}
a:any-link {
	color: #0000EE;
	text-decoration: underline;
}
a:any-link:hover {
	text-decoration: none;
}

#blueprint-builder {
	display: flex;
}
.arrow {

	height: 480px;
	padding: 20px;
}
#step-list {
	width: 200px;
	min-height: 500px;
	border: 1px solid #1a1919;
	border-right: 0;
	box-shadow: 1px 1px 1px #888888;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.step.builtin {
	background-color: lightgreen;
}

#step-list .step.builtin {
	display: none;
}

#step-list.show-builtin .step.builtin {
	display: block;
}

#blueprint-steps {
	width: 500px;
	min-height: 500px;
	border: 1px solid #1a1919;
	box-shadow: 1px 1px 1px #888888;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

textarea {
	height: 490px;
	width: 250px;
	border: 1px solid #1a1919;
	margin: 0;
	padding: 8px;
	font-family: monospace;
	font-size: 14px;
	white-space: pre-wrap;
	box-shadow: 1px 1px 1px #888888;
	border-radius: 5px;
}

.step {
  padding: 10px;
  margin: 5px;
  border: 1px solid #1a1919;
  background-color: lightblue;
  cursor: pointer;
  border-radius: 5px;
}

.step .vars {
	display: none;
}

.step .remove {
	float: right;
	margin-left: 2em;
}

.step .remove:any-link {
	color: #1a1919;
	text-decoration: none;
	margin-top: -8px;
}

#step-list .step .remove {
	display: none;
}

#blueprint-steps .step .vars {
	display: block;
}

a.view-source {
	display: none;
	float: right;
}

#blueprint-steps .step a.view-source {
	display: block;
}

table.vars tr td:first-child {
	font-weight: bold;
	width: 5em;
}

button, #playground-link {
	border: 1px solid #1a1919;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
	box-shadow: 1px 1px 1px #888888;
	cursor: pointer;
}

#playground-link {
	background-color: lightblue;
	border: 1px solid #1a1919;
}

#playground-link:any-link {
	color: #1a1919;
}

#playground-link:hover, .step:hover {
	background-color: #ADDFFF;
}

.step.builtin:hover {
	background-color: #9DFF9D;
}

#view-source iframe {
	width: 800px;
	height: 600px;
}

#blueprint-compiled {
	margin-bottom: 1em;
}
