body {
	background-color: #fff;
	font-family: Inter, sans-serif;
	font-optical-sizing: auto;
	color: #1a1919;
	font-size: 16px;
	line-height: 30px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	padding: 0 .5em;
}
summary {
	cursor: pointer;
}

input {
	padding: .5em;
}

h1 {
	font-family: "EB Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	margin: 0;
	line-height: 60px;
}

a:any-link {
	color: #0000EE;
	text-decoration: underline;
}

a:any-link:hover {
	text-decoration: none;
}

#blueprint-builder {
	display: flex;
}

.arrow {
	height: 480px;
	padding: 20px;
}

#step-library {
	width: 200px;
	height:550px;
	overflow: auto;
	border: 1px solid #1a1919;
	border-right: 0;
	box-shadow: 1px 1px 1px #888888;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#blueprint-steps {
	width: 500px;
	height:550px;
	overflow: auto;
	border: 1px solid #1a1919;
	box-shadow: 1px 1px 1px #888888;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	z-index: 1;
	background-color: #fff;
}

div.explanation {
	position: absolute;
	margin-top: -2em;
}
textarea {
	height: 490px;
	width: 250px;
	border: 1px solid #1a1919;
	margin: 0;
	padding: 8px;
	font-family: monospace;
	font-size: 14px;
	white-space: pre-wrap;
	box-shadow: 1px 1px 1px #888888;
	border-radius: 5px;
}

.step {
	padding: 10px;
	margin: 5px;
	border: 1px solid #1a1919;
	background-color: lightblue;
	cursor: pointer;
	border-radius: 5px;
	z-index: 3;
}

.step.builtin {
	background-color: lightgreen;
}

#step-library .step.builtin {
	display: none;
}

#step-library.show-builtin .step.builtin {
	display: block;
}

#step-library .step {
	text-overflow: ellipsis;
	overflow: hidden;
}

.step .info {
	font-size: 12px;
	margin-left: .5em;
}

.step td > input,
.step td > label {
	vertical-align: top;
}

.step td > label {
	display: inline-block;
}

.step .examples {
	margin-left: 16em;
	margin-top: -2.7em;
	font-size: 13px;
}

.step .examples[open] {
	margin-left: 0;
	margin-top: 0;
}

.step .remove {
	float: right;
	margin-left: 2em;
}

.step .remove:any-link {
	color: #1a1919;
	text-decoration: none;
	margin-top: -8px;
}

#step-library .step .examples,
#step-library .step .info,
#step-library .step .vars,
#step-library .step .remove {
	display: none;
}

#blueprint-steps .step .vars {
	display: block;
}

#step-library .step .examples {
	display: none;
}

#blueprint-steps .step .examples {
	display: block;
}

.examples ul li {
	list-style-type: none;
	color: #0000EE;
	text-decoration: underline;
	display: inline-block;
	margin-right: .5em;
	white-space: nowrap;
}

.examples ul {
	margin: 0;
	padding: 0;
}

.examples ul li:hover {
	text-decoration: none;
}

a.view-source {
	display: none;
	float: right;
}

#blueprint-steps .step a.view-source {
	display: block;
}

table.vars tr td:first-child {
	font-weight: bold;
	width: 5em;
	vertical-align: top;
	line-height: 1.3;
	padding: .5em .5em .5em 0;
}

button, #playground-link {
	border: 1px solid #1a1919;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
	box-shadow: 1px 1px 1px #888888;
	cursor: pointer;
}

#playground-link {
	background-color: lightblue;
	border: 1px solid #1a1919;
	line-height: .6;
	padding: 10px;
}

#playground-link:any-link {
	color: #1a1919;
}

#playground-link:hover, .step:hover {
	background-color: #ADDFFF;
}

.step.builtin:hover {
	background-color: #9DFF9D;
}

#view-source iframe {
	width: 800px;
	height: 600px;
}

#blueprint-compiled {
	margin-bottom: 1em;
}

#further-options div {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

#further-options label {
	display: block;
}
#draghint {
	margin-top: 1em;
	margin-left: 1em;
}


@media (prefers-color-scheme: dark) {
	body, textarea, input {
		background-color: #000;
		color: #fff;
		border-color: #fff;
	}

	a:any-link {
		color: lightblue;
	}

	#blueprint-steps {
		background-color: #000;
		border-color: #fff;
		box-shadow: 1px 1px 1px #888888;
	}

	#step-library {
		border-color: #fff;
		box-shadow: 1px 1px 1px #888888;
	}

	.step {
		border-color: #fff;
		background-color: #003eaa;
	}

	.step.builtin {
		background-color: #027102;
	}

	.step.builtin:hover {
		background-color: #00883e;
	}

	#playground-link:any-link, button#clear {
		color: #fff;
	}

	#playground-link:any-link {
		background-color: #003eaa;
	}

	button#clear {
		background-color: #333;
	}

	button#clear:hover {
		background-color: #666;
	}

	#playground-link:hover, .step:hover {
		background-color: #0060df;
	}

	.step .remove:any-link {
		color: #fff;
	}
}

