:root {
  color-scheme: light dark;
}

html {
	background-color: light-dark( #fff, #000 );
	font-family: Inter, sans-serif;
	font-optical-sizing: auto;
	color: light-dark( #1a1919, #fff );
	font-size: 16px;
	line-height: 30px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	padding: 0 .5em;
}
header {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}
header h1 {
	text-wrap-style: balance;
}
header > p {
	line-height: 1.3;
}

textarea::before {
	content: " → ";
}
summary {
	cursor: pointer;
}

input {
	padding: .5em;
}

h1 {
	font-family: "EB Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	margin: 0;
	line-height: 60px;
}

a:any-link {
	color: light-dark( #0000EE, lightblue );
	text-decoration: underline;
}

a:any-link:hover {
	text-decoration: none;
}

#blueprint-builder {
	display: flex;
	margin-top: 2em;
	flex-wrap: wrap;
	gap: 4em 2em;
}

#steps-group {
	display: flex;
}

#step-library-holder {
	width: 200px;
	height: 550px;
	border: 1px solid light-dark( #1a1919, #fff );
	border-right-width: 0;
	box-shadow: light-dark( 1px 1px 1px #888, none );
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	flex: 1;
	overflow: hidden;
}

#filter-holder {
	display: flex;
	flex-direction: row;
	height: 30px;
	padding: .5em;
	gap: .5em;
}

#filter-holder label {
	white-space: nowrap;
}

#step-library {
	overflow: auto;
	height: 520px;
}

#blueprint-steps {
	width: 450px;
	height:550px;
	overflow: auto;
	border: 1px solid light-dark( #1a1919, #fff );
	box-shadow: light-dark( 1px 1px 1px #888, none );
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	z-index: 1;
	background-color: light-dark( #fff, #000 );
	flex: 2;
}

#blueprint-builder > div {
	display: flex;
	flex-direction: column;
}

#steps-holder {
	flex: 3 1 0;
}

#blueprint-holder,
#blueprint-compiled-holder {
	flex: 1 1 0;
}

#blueprint-holder > div,
#blueprint-compiled-holder > div {
	height: 2em;
	white-space: nowrap;
}

#title-holder {
	height: 3em;
	margin-top: -1em;
}
#title-holder input {
	width: 40vw;
}

textarea {
	height: 490px;
	width: inherit;
	border: 1px solid light-dark( #1a1919, #fff );
	margin: 0;
	padding: 8px;
	font-family: monospace;
	font-size: 14px;
	white-space: pre-wrap;
	box-shadow: 1px 1px 1px #888;
	border-radius: 5px;
}

.step {
	padding: 10px;
	margin: 5px;
	border: 1px solid light-dark( #1a1919, #fff );
	background-color: light-dark( lightblue, #003eaa );
	cursor: pointer;
	border-radius: 5px;
	z-index: 3;
}

.step.builtin {
	background-color: light-dark( lightgreen, #027102 );
}

#step-library .step.builtin {
	display: none;
}

#step-library.show-builtin .step.builtin {
	display: block;
}

#step-library .step {
	text-overflow: ellipsis;
	overflow: hidden;
}

.step .info {
	font-size: 12px;
	margin-left: .5em;
}

.step td > input,
.step td > label {
	vertical-align: top;
}

.step td > label {
	display: inline-block;
}

.step .examples {
	margin-left: 16em;
	margin-top: -2.7em;
	font-size: 13px;
}

.step .examples[open] {
	margin-left: 0;
	margin-top: 0;
}

.step .remove {
	float: right;
	margin-left: 2em;
}

.step .remove:any-link {
	color: light-dark( light-dark( #1a1919, #fff ), #fff );
	text-decoration: none;
	margin-top: -8px;
}

#step-library-holder .step .examples,
#step-library-holder .step .info,
#step-library-holder .step .vars,
#step-library-holder .step .remove,
#blueprint-steps .step.collapsed .examples,
#blueprint-steps .step.collapsed .vars,
#blueprint-steps .step.collapsed .vars,
#blueprint-steps .step.collapsed .remove {
	display: none;
}

#blueprint-steps .step {
	overflow: clip;
}

#blueprint-steps .step .vars {
	display: block;
}

#step-library-holder .step .examples {
	display: none;
}

#blueprint-steps .step .examples {
	display: block;
}

.examples ul li {
	list-style-type: none;
	color: #0000EE;
	text-decoration: underline;
	display: inline-block;
	margin-right: .5em;
	white-space: nowrap;
}

.examples ul {
	margin: 0;
	padding: 0;
}

.examples ul li:hover {
	text-decoration: none;
}

a.view-source, #blueprint-steps .step.collapsed a.view-source {
	display: none;
	float: right;
}

#blueprint-steps .step a.view-source {
	display: block;
}

table.vars tr td:first-child {
	font-weight: bold;
	width: 5em;
	vertical-align: top;
	line-height: 1.3;
	padding: .5em .5em .5em 0;
}

button,
#playground-link,
#playground-link-top,
#download-blueprint {
	border: 1px solid light-dark( #1a1919, #fff );
	color: #000;
	background-color: #e9e9ed;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-shadow: 1px 1px 1px #888;
	cursor: pointer;
}

#playground-link,
#playground-link-top {
	background-color: light-dark( lightblue, #003eaa );
	line-height: .6;
	padding: 10px;
}
#playground-link {
	width: 80%;
}
#copy-playground-link {
	background: none;
	border: none;
	box-shadow: none;
	padding-left: 1em;
	padding-right: 1em;
}
#copy-playground-link:hover {
	background-color: #ccc;
}

#playground-link-top {
	display: none;
	font-size: 13.3px;
}

#playground-link:any-link,
#playground-link-top:any-link {
	color: light-dark( #1a1919, #fff );
}

#playground-link:hover,
#playground-link-top:hover,
.step:hover {
	background-color: light-dark( #ADDFFF, #0060df );
}

#download-blueprint:any-link {
	color: light-dark( #000, #fff );
	margin-top: .5em;
	line-height: .6;
	padding: 10px;
	background-color: light-dark( #e9e9ed, #46734e );
}

/*button:hover,*/
#download-blueprint:hover {
	background-color: light-dark( #d0d0d7, #479154);
}

.step.builtin:hover {
	background-color: light-dark( #9DFF9D, #00883e );
}

#view-source iframe {
	width: 800px;
	height: 600px;
}

#blueprint-compiled {
	margin-bottom: 1em;
}

#further-options div {
	display: flex;
	flex-flow: row wrap;
	gap: .5em 2em;
}

#further-options label {
	display: block;
}
#draghint {
	margin-top: 1em;
	margin-left: 1em;
}

#top-buttons {
	white-space: nowrap;
	display: inline-block;
}

@media (max-width: 734px) {
	#steps-group > div {
		flex-direction: column;
		width: 100%;
	}

	#playground-link-top {
		display: inline-block;
	}

	#blueprint-steps .step a.view-source {
		display: none;
	}
}

@media (max-width: 1100px) {
	header {
		flex-direction: column;
	}
	#filter-holder {
		flex-direction: column;
		height: auto;
	}

	#filter-holder label {
		display: none;
	}

}
